#cv {
    padding-top: 5rem;
    padding-bottom: 3rem;

    .cv-title {
        font-size: 2rem;
        margin-bottom: 1rem;

        p {
            margin-bottom: auto;
        }
    }

    .cv-date {
        font-family: "Montserrat-italic";
        color: #767676;
    }

    .cv-desc {
        margin-bottom: 2rem;
        font-size: 1.2rem;

        a {
            margin-bottom: 0.4rem;
            display: block;
        }

        p {
            margin-bottom: 0.4rem;

        }

        .cv-experience:not(.cv-desc .cv-experience:last-child) {
            margin-bottom: 1rem;
        }
    }

    .row-pd-0 {
        div[class*=col-]:first-child, div[class*=col-]:last-child {
            padding: 0px;
        }
    }

}