#header {
    height: calc(100vh - 132px);
    .title {
        font-size: 4rem;
        margin-bottom: 0.4rem;
    }

    .subtitle {
        font-size: 20px;
    }

    .header-social {
        margin-top: 3rem;
        margin-bottom: 1.5rem;
        display: flex;
        justify-content: center;
        li {
            margin: 0 0.7rem;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 32px;
                height: 32px;
            }

            a:hover,
            a:focus {
                filter: opacity(0.5);
                transition: 0.3s;
            }
        }
    }

    .header-image{
        border: 1px solid #fff;
        border-top-right-radius: 7rem;
        border-top-left-radius: 7rem;
        border-bottom-right-radius: 7rem;
        border-bottom-left-radius: 0.5rem;
        box-shadow: 49px 36px 0px #0540ff;
    }
}
