.card {
    background-color: #fff;
    box-shadow: 0px 1px 2px #0000002e, 0px 1px 4px #0000000d;

    .card-img {
        display: block;
        cursor: auto;
        img {
            width: 100%;
            height: auto;
            display: block;
            aspect-ratio: 16/9;
            cursor: pointer;
        }
    }

    .card-body {
        padding: 2rem;

        .card-title {
            margin-bottom: 1rem;

            a {
                color: $dark;
                cursor: pointer;
                transition: 0.1s;
                &:focus {
                    color: $primary;
                }
            }
        }
        .card-description {
            color: $gray;
        }
    }
}
