.form-content {
    padding-bottom: 1rem;

    label {
        padding-bottom: 0.7rem;
    }

    input.form-control {
        padding: 0.7rem 1rem;
        border: 1px solid #dfdfdf;
        border-radius: 0.25rem;
    }
}