
.breadcrumbs {
    padding: 1rem 0;

    ul {
        display: flex;
        list-style: none;
        li {
            margin: 0.4rem 0.5rem;
            color: $dark;
            a {
                color: $dark;
                white-space: nowrap;
                transition: 0.2s;

                &:hover,
                &:focus {
                    color: $primary;
                }
            }

            &[aria-current="page"]{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        li.breadcrumbs-link {
            padding-right: 2rem;
            background-image: url("../../../image/icons/chevron-right-solid.svg");
            background-position-y: center;
            background-position-x: right;
            background-repeat: no-repeat;
        }
    }
}
