@import "main/variables";
@import "main/fonts";
@import "main/break-points";
@import "main/cols";
@import "main/navbar";
@import "main/card";
@import "main/footer";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    background-image: url("/image/web/bg-header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

ul {
    list-style: none;
}

.text-primary {
    color: $primary;
}

.text-center{
    text-align: center;
}