@import "main/variables";
@import "main/fonts";
@import "main/break-points";
@import "main/cols";
@import "main/flex";

@import "main/card";

@import "main/navbar";
@import "main/header";
@import "main/cv";
@import "main/footer";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

body {
    background-image: url("/image/web/bg-header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

ul {
    list-style: none;
}

.text-primary {
    color: $primary;
}

.text-center {
    text-align: center;
}

.border-bottom {
    border-bottom: 1px;
}

.border-dashed {
    border-style: dashed;
}

.border-medium {
    border-width: medium;
}

.p {
    margin-bottom: 0.4rem;
}

.w-100 {
    width: 100%;
}

.bg-white {
    background-color: #fff;
}

.pb-2 {
    padding-bottom: 2rem;
}

.btn {
    padding: 1rem;
    border: 0;
    background-color: transparent;
    border-radius: 0.35rem;
    cursor: pointer;
}

