@import "main/variables";
@import "main/break-points";
@import "main/fonts";
@import "main/scroll";

@import "main/buttons";
@import "main/card";
@import "main/breadcrumbs";
@import "panels/navbar";
@import "panels/footer";

@import "main/cols";
@import "main/flex";
@import "main/bg";
@import "main/link";
@import "main/margin";
@import "main/padding";
@import "main/text";
@import "main/border";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    scrollbar-width: thin;
    scrollbar-color: $color_scroll $white;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("/image/web/bg-header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.w-100 {
    width: 100%;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.badge-dark {
    font-size: 13px;
    padding: 0.3rem 0.7rem;
    border-radius: 6px;
    display: flex;
    color: $white;
    background-color: #1a191994;
    transition: 0.1s;
    &:hover {
        background-color: #1a1919a4;
    }
}

.position-relative {
    position: relative;
}