@import "main/variables";
@import "main/break-points";
@import "main/fonts";
@import "main/scroll";

@import "main/cols";
@import "main/flex";
@import "main/bg";
@import "main/padding";
@import "main/text";
@import "main/border";

@import "main/buttons";
@import "main/card";

@import "panels/navbar";
@import "panels/footer";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    scrollbar-width: thin;
    scrollbar-color: $color_scroll $white;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("/image/web/bg-header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
a:focus {
    outline: 1px solid #ccc;
}

p[tabindex="0"] {
    display: block;
    outline: 0;
    position: relative;
    transition: 0.2s;
    z-index: 1;
    &::before {
        content: "";
        width: 0;
        transition: 0.2s;
        z-index: -1;
    }
    &:focus {
        &::before {
            content: "";
            width: 23px;
            background-color: $primary;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
        }

        &::first-letter {
            color: #fff;
        }
    }
}

.w-100 {
    width: 100%;
}
