#navbar {
    position: sticky;
    top: 0px;
    z-index: 90;
    transition: 0.2s;

    .navbar-body {
        padding: 2rem 3rem;
        display: flex;
        justify-content: end;
        align-items: center;
        transition: 0.2s;

        .logo {
            margin: auto;
            margin-left: calc(50% - 32px);
            img {
                width: 64px;
                height: 64px;
                transition: 0.2s;
            }
        }

        .btn-menu {
            padding: 0.5rem;
            display: flex;
            visibility: hidden;
            .icon-menu {
                width: 32px;
                height: 32px;

                line {
                    fill: none;
                    stroke: $primary;
                    stroke-width: 3;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    transition: 0.3s;
                    transform-origin: right;
                }
            }
        }

        .btn-menu:hover,
        .btn-menu:focus {
            .icon-menu {
                line {
                    stroke: #151ab9;
                }
                .expand {
                    transform: translateX(22px) scaleX(1.7);
                }
            }
        }

        .navbar-list {
            align-items: center;
            transition: .3s;
            ul {
                display: flex;

                .navbar-list-li {
                    .navbar-link {
                        padding: 1rem;
                        display: inline-block;
                        text-decoration: none;
                        font-size: 18px;
                        font-weight: bold;
                        font-family: "Montserrat-bold";

                        color: $dark;
                        transition: .2s;
                        &.active{
                            color:$primary;
                        }
                    }

                    .navbar-link:hover,
                    .navbar-link:focus {
                        color: $primary;
                    }
                }

                .navbar-list-li:not(.navbar-list-li:last-child)::after {
                    content: "|";
                    color: #00000061;
                }
            }
        }
    }

    &.navbar-scrolling {
        background-color: $white;
        box-shadow: 0px 1px 2px #00000021, 0px 3px 3px #00000012;

        .navbar-body {
            padding: 1rem 3rem;
        }

        .logo img {
            width: 48px;
            height: 48px;
        }
    }

    @media only screen and (max-width: $md) {
        .navbar-body {
            .btn-menu {
                visibility: visible;
                z-index: 1;
            }

            .navbar-list {
                visibility: hidden;
                position: fixed;
                width: 230px;
                left: 0;
                top: 0;
                padding-top: 7rem;
                padding-left: 2rem;
                padding-right: 2rem;
                padding-bottom: 2rem;
                height: 100%;
                display: flex;
                align-items: flex-start;
                background-color: #f9f9f9;
                box-shadow: 0px 1px 2px #00000021, 0px 3px 3px #00000012;
                 transform: translateX(-230px);
              
                ul {
                    flex-direction: column;
                    .navbar-list-li:not(.navbar-list-li:last-child)::after {
                        content: "";
                    }
                    .navbar-link:hover{
                        transform: translateX(5px);
                    }
                }
            }

            .menu-sticky {
                top: 84px;
                padding-top: 2rem;
            }

            .menu-open{
                visibility: visible;
                transform: translateX(0px);

            }
        }
    }
}
