.overflow-y-auto {
    overflow-y: auto;
}

.toggle-menu {
    img{
        width: 19px;
        height: auto;
    }
    display: none;
    @media (max-width: 768px) {
        display: inline-block;
    }
}

.menu {
    width: 230px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 10;
    visibility: visible;
    transition: 0.2s;

    .nav-link {
        display: flex;
        padding: 0.7rem 0;
        img{
            filter: invert(50%) sepia(6%) saturate(14%) hue-rotate(201deg) brightness(86%) contrast(88%);
        }
    }

    @media (max-width: 768px) {
        top: 71px;
        visibility: hidden;
        transform: translateX(-229px);
    }
}

.navbar-light .navbar-nav {
    a.nav-link.active {
        color:$primary;
        font-weight: bold;
        img{
            filter: invert(15%) sepia(100%) saturate(5287%) hue-rotate(232deg) brightness(101%) contrast(104%);
        }
    }
}

.bg-menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #00000029;
    z-index: 9;
    visibility: hidden;
}

.show ~ .bg-menu {
    @media (max-width: 768px) {
        visibility: visible;
    }
}

.brand {
    height: 71px;
}

.show {
    visibility: visible;
    transform: translateX(0px);
}

span.icon {
    width: 32px;
    display: inline-flex;
    justify-content: center;
    img {
        width: 15px;
        height: auto;
     }
}

.menu-short {
    @media (min-width: 769px) {
        width: 92px;

        .nav-item {
            margin-bottom: 0.4rem;
        }

        .nav-link span:last-child {
            display: none;
        }

        span.icon {
            width: 44px;
            font-size: 1.2rem;
            display: flex;
        }
    }
}
