.btn {
    padding: 1rem;
    border: 0;
    background-color: transparent;
    border-radius: 0.35rem;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.btn:focus {
    outline: 2px solid #151ab90f;
}

.btn-primary {
    background-color: $primary;
    color: $white;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #1742cb;
    color: $white;
}

.btn-primary-outline {
    color: $primary;
    background-color: transparent;
    border: 1px solid $primary;
    border-radius: 2rem;
    transition: 1s;
    background-image: linear-gradient(90deg, transparent 100%, #1742cb 0%);
}

.btn-up {
    filter: invert(17%) sepia(68%) saturate(6232%) hue-rotate(226deg) brightness(115%) contrast(140%);
    position: fixed;
    right: 32px;
    bottom: 32px;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
    img {
        width: 32px;
    }
}

.btn-up-show {
    visibility: visible;
    opacity: 1;
}
