#navbar {
    position: sticky;
    top: 0px;
    z-index: 90;

    .navbar-body {
        padding: 2rem 3rem;
        display: flex;
        justify-content: end;

        .logo {
            margin: auto;
            margin-left: calc(50% - 32px);
        }

        .btn-menu {
            .icon-menu {
                width: 64px;
                height: 64px;

                line {
                    fill: none;
                    stroke: $primary;
                    stroke-width: 3;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    transition: 0.3s;
                    transform-origin: right;
                }
            }
        }

        .btn-menu:hover,.btn-menu:focus {
            .icon-menu {
                line {
                    stroke: #151ab9;
                }
                .expand {
                    transform: scaleX(1.8);
                }
            }
        }

        .navbar-list {
            display: none;
            align-items: center;

            ul {
                display: flex;

                .navbar-list-li {
                    .navbar-link {
                        padding: 1rem;
                        display: inline-block;
                        text-decoration: none;
                        font-size: 18px;
                        font-weight: bold;
                        font-family: "Montserrat-bold";

                        color: $primary;
                    }

                    .navbar-link:hover,
                    .navbar-link:focus {
                        color: #151ab9;
                    }
                }

                .navbar-list-li:not(.navbar-list-li:last-child)::after {
                    content: "|";
                    color: #0540ff61;
                }
            }
        }
    }
}
