#navbar {
    .navbar-body {
        padding: 2rem 3rem;
        display: flex;
        justify-content: end;

        .logo {
            margin: auto;
            margin-left: calc(50% - 64px);
        }

        .navbar-list {
            display: flex;
            align-items: center;

            ul {
                display: flex;

                .navbar-list-li {
                    .navbar-link {
                        padding: 1rem;
                        display: inline-block;
                        text-decoration: none;
                        font-size: 18px;
                        font-weight: bold;
                        font-family: "Montserrat-bold";

                        color: $primary;
                    }

                    .navbar-link:hover,
                    .navbar-link:focus {
                        color: #151ab9;
                    }
                }

                .navbar-list-li:not(.navbar-list-li:last-child)::after {
                    content: "|";
                    color: #0540ff61;
                }
            }
        }
    }
}
